/* Layout */
#header {
    width: 950px;
    padding: 0;
    margin: 20px 0 30px 20px;
    height: 145px;
    background-color: #3c78a0;
}

#afterHeader {
    border: solid thin #3c78a0;
    border-radius: 5px;
    background-color: transparent;
    text-align: center;
    padding: 10px;
    margin-left: 250px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#bottom {
    position: center;
    margin: 20px;
    font-size: 13px;
    font-weight: bold;
    right: 10px;
    color: white;
    height: 35px;
    width: 940px;
    background-color: #3c78a0;
    text-align: right;
    padding-right: 10px;
    padding-top: 20px;
}

#left {
    float: left;
    width: 183px;
    border: solid thin #3c78a0;
    border-radius: 5px;
    background-color: transparent;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: bold;
    color: #3c78a0;
    text-align: center;
    padding: 5px;
}

#left a {
    line-height: 35px;
    text-decoration: none;
    display: block;
    color: #3c78a0;
}

#left a:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
    background-color: #3c78a0;
    border: solid thin #3c78a0;
    border-radius: 5px;
}

#left ul {
    list-style-type: none;
    padding: 0;
}

.leftcommand {
    line-height: 35px;
    color: #3c78a0;
    background-color: transparent;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    border: none;
    width: 100%;
}

.leftcommand:hover {
    color: white;
    cursor: pointer;
    background-color: #3c78a0;
    border: solid thin #3c78a0;
    border-radius: 5px;
}

.leftcommand:focus {
    outline: 0 !important;
}

.content {
    background-color: #ffffff;
    padding: 0;
    margin-left: 250px;
    margin-right: 20px;
    min-height: 500px;
}

body {
    height: 100%;
    margin: auto;
    width: 990px;
    font-size: 13px;
    border: 2px solid #E3EAEE;
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
}

img {
    border: none;
}

h1 {
    border-bottom: none;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #3c78a0;
}

h2 {
    border-bottom: none;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #64a0a0;
}

a:link, a:visited {
    color: #304956;
    text-decoration: none;
}

a:link:hover, a:visited:hover {
    color: #6A95A9;
    text-decoration: underline;
}

.hslubutton {
    background: none repeat scroll 0 0 #6A95A9;
    border: 1px solid #304956;
    width: 80px;
}

.hslubutton:hover {
    font-weight: bold;
}

#message_box {
    /*    margin-left: 170px;*/
    border-collapse: collapse;
}

.messages td {
    font-weight: bold;
    font-size: 14px;
    width: 600px;
    padding-left: 50px;
    height: 24px;
}

.messages .infomsg td {
    color: #00529B;
    border-color: #00529B;
    background: url("#{resource['images/info.png']}") no-repeat left center #BDE5F8;

}

.messages .warnmsg td {
    color: #9F6000;
    border-color: #9F6000;
    background: url("#{resource['images/important.png']}") no-repeat left center #FEEFB3;
}

.messages .errormsg td {
    color: #D8000C;
    border: solid thin #D8000C;
    background: url("#{resource['images/stop.png']}") no-repeat left #FFBABA;
}

.commandbutton {
    background-color: #3c78a0;
    border: solid thin #3c78a0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px;
    width: 100px;
    text-align: center;
}

.commandbutton:hover {
    background-color: #345f81;
}

.commandbutton:focus {
    outline: 0 !important;
}

.transparent {
    filter: alpha(opacity=60);
    -moz-opacity: 0.6;
    opacity: 0.6;
}

table.accounts {
    width: 100%;
    border-collapse: collapse;
}

table.accounts th,
table.accounts td {
    padding: 5px;
    text-align: left;
    border: 1px solid black;
}

.centeredContainer {
    text-align: center;
}

#productTable {
    width: 100%;
}

.productHeader {
    background-color: #3c78a0;
    color: white;
    font-weight: bold;
}

.productHeaderTitle {
    text-align: left;
}

.productHeaderDesc {
    text-align: left;
}

.productHeaderPrice {
    text-align: right;
}

.productRow {
    padding: 10px;
    height: 45px;
    background-color: white;
    border-bottom: 1px solid #3c78a0;
}

.productRow:hover {
    background-color: #E3EAEE;
    cursor: pointer;
}

.productTitle {
    width: 20%;
    text-align: left;
    font-weight: bold;
}

.productDesc {
    width: 50%;
    text-align: left;
}

.productPrice {
    width: 20%;
    text-align: right;
}

.productAddBasket {
    width: 10%;
    text-align: right;
}

#basketTable {
    width: 100%;
}

.basketHeader {
    background-color: #3c78a0;
    color: white;
    font-weight: bold;
}

.basketRow {
    padding: 10px;
    height: 45px;
    background-color: white;
    border-bottom: 1px solid #3c78a0;
}

.basketRow:hover {
    background-color: #E3EAEE;
    cursor: pointer;
}

.basketTitle {
    width: 26%;
    text-align: left;
    font-weight: bold;
}

.basketPrice {
    width: 22%;
    text-align: right;
}

.basketQuantity {
    width: 22%;
    text-align: center;
}

.basketInc {
    width: 10%;
    text-align: center;
}

.basketDec {
    width: 10%;
    text-align: center;
}

.basketRemove {
    width: 10%;
    text-align: center;
}

.basketHeaderTitle {
    text-align: left;
}

.basketHeaderPrice {
    text-align: right;
}

.basketHeaderQuantity {
    text-align: center;
}

.basketbutton {
    padding: 0;
    height: 32px;
    width: 32px;
    text-align: center;
    border: solid thin #3c78a0;
    background-color: #3c78a0;
    border-radius: 5px;
}

.basketbutton:hover {
    cursor: pointer;
    background-color: #345f81;
}

.basketbutton:focus {
    outline: 0 !important;
}

#basketControlContainer {
    width: 100%;
    height: 50px;
}

.clearBasket {
    float: left;
}

.clearBasket:disabled {
    background-color: #E3EAEE;
    border-color: #E3EAEE;
}

.checkoutBasket {
    float: right;
}

.checkoutBasket:disabled {
    background-color: #E3EAEE;
    border-color: #E3EAEE;
}

#paymentAssemblyControlContainer {
    width: 100%;
    height: 50px;
}

#paymentAssemblyTable {
    width: 100%;
}

.paymentAssemblyHeader {
    background-color: #3c78a0;
    color: white;
    font-weight: bold;
}

.paymentAssemblyRow {
    padding: 10px;
    height: 45px;
    background-color: white;
    border-bottom: 1px solid #3c78a0;
}

.paymentAssemblyRow:hover {
    background-color: #E3EAEE;
    cursor: pointer;
}

.paTitle {
    width: 40%;
    text-align: left;
    font-weight: bold;
}

.paPrice {
    width: 20%;
    text-align: right;
}

.paQuantity {
    width: 20%;
    text-align: center;
}

.paItemCost {
    width: 20%;
    text-align: right;
}

.paHeaderTitle {
    text-align: left;
}

.paHeaderPrice {
    text-align: right;
}

.paHeaderQuantity {
    text-align: center;
}

.paHeaderItemCost {
    text-align: right;
}

.paResultRow {
    padding-top: 10px;
    display: block;
    text-align: right;
    font-weight: bold;
}

#paymentControlContainer {
    width: 100%;
    height: 50px;
}

#paymentMethodContainer {
    width: 100%;
    text-align: center;
}

#pmSelectionContainer {
    width: 100%;
    padding: 10px 0 30px 0;
}

.pmSelectLbl {
    width: 49%;
    text-align: right;
    padding: 0 5px 0 0;
    display: inline-block;
    font-weight: bold;
}

.pmSelectVal {
    width: 49%;
    text-align: left;
    padding: 0 0 0 5px;
    display: inline-block;
}

#paymentMethodTable {
    margin: 0 auto;
}

.pmHeader {
    background-color: #3c78a0;
    color: white;
    font-weight: bold;
}

.pmRow {
    padding: 10px;
    height: 130px;
    background-color: white;
    border-bottom: 1px solid #3c78a0;
}

.pmRow:hover {
    background-color: #E3EAEE;
    cursor: pointer;
}

.pmColLogo {
    width: 140px;
    text-align: center;
}

.pmColCardNo {
    width: 200px;
    text-align: center;
}

.pmColCVC {
    width: 80px;
    text-align: center;
}

.pmColED {
    width: 80px;
    text-align: center;
}

.pmColSave {
    width: 50px;
    text-align: center;
}

.pmHeaderLogo {
    text-align: center;
}

.pmHeaderCardNo {
    text-align: center;
}

.pmHeaderCVC {
    text-align: center;
}

.pmHeaderED {
    text-align: center;
}

.cancelsubmit {
    float: left;
}

.confirmsubmit {
    float: right;
}

#loginContainer {
    padding: 10px;
    margin-bottom: 40px;
    text-align: center;
}

#loginGrid {
    font-weight: bold;
    color: #3c78a0;
    margin: 0 auto;
}

.registerContainer {
    padding: 10px;
    text-align: center;
}

.registerMessageContainer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
    display: block;
}

.registerCommonMessage {
    padding: 10px;
    display: block;
    border-radius: 5px;
}

.registerInfoMessage {
    background-color: #beeebc;
    border: solid thin #beeebc;
}

.registerErrorMessage {
    background-color: #eecaca;
    border: solid thin #eecaca;
}

.registerGrid {
    font-weight: bold;
    color: #3c78a0;
    margin: 0 auto;
}

.registerLabel {
    width: 100px;
    text-align: left;
}

.registerValue {
    text-align: left;
}

.registerMessage {
    text-align: left;
    color: red;
    font-size: 11px;
}

.submitRow {
    text-align: center;
}

.basketLink {
    float: left;
    width: 193px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    padding: 12px 0 10px 0;
    background-color: #3c78a0;
    border: solid thin #3c78a0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-align: center;
}

.basketLink:hover {
    background-color: #345f81;
}

.basketLink:focus {
    outline: 0 !important;
}

.linkEditAccount {
    font-weight: bold;
}

#editAccountContainer {
    padding: 30px 0 30px 0;
}

#showPurchasesContainer {
    padding: 30px 0 30px 0;
}

.secIndexLink {
    float: left;
    width: 193px;
    font-weight: bold;
    padding: 12px 0 10px 0;
    background-color: #3c78a0;
    border: solid thin #3c78a0;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    text-align: center;
}

.secIndexLink:hover {
    background-color: #345f81;
}

.secIndexLink:focus {
    outline: 0 !important;
}

#customerTable {
    width: 100%;
}

.customerHeader {
    background-color: #3c78a0;
    color: white;
    font-weight: bold;
}

.customerHeaderName {
    text-align: left;
}

.customerHeaderFN {
    text-align: left;
}

.customerHeaderLN {
    text-align: left;
}

.customerRow {
    padding: 10px;
    height: 45px;
    background-color: white;
    border-bottom: 1px solid #3c78a0;
}

.customerRow:hover {
    background-color: #E3EAEE;
    cursor: pointer;
}

.customerName {
    width: 20%;
    text-align: left;
    font-weight: bold;
}

.customerFN {
    width: 35%;
    text-align: left;
}

.customerLN {
    width: 35%;
    text-align: left;
}

.customerEdit {
    width: 10%;
    text-align: right;
}

#purchaseTable {
    width: 100%;
}

.purchaseHeader {
    background-color: #3c78a0;
    color: white;
    font-weight: bold;
}

.purchaseHeaderDate {
    text-align: center;
}

.purchaseHeaderTotalCost {
    text-align: center;
}

.purchaseHeaderPayId {
    text-align: center;
}

.purchaseHeaderCorrelationId {
    text-align: center;
}

.purchaseHeaderSalesOrderNo {
    text-align: center;
}

.purchaseHeaderState {
    text-align: center;
}

.purchaseRow {
    padding: 10px;
    height: 45px;
    background-color: white;
    border-bottom: 1px solid #3c78a0;
}

.purchaseRow:hover {
    background-color: #E3EAEE;
    cursor: pointer;
}

.purchaseDate {
    width: 10%;
    text-align: center;
    font-weight: bold;
}

.purchaseTotalCost {
    width: 20%;
    text-align: right;
}

.purchasePayId {
    width: 20%;
    text-align: center;
}

.purchaseCorrelationId {
    width: 20%;
    text-align: center;
}

.purchaseSalesOrderNo {
    width: 20%;
    text-align: center;
}

.purchaseState {
    width: 10%;
    text-align: center;
}